.guests {
  width: 100vw;
}

.guests .guests_title {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 500;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 54px 16px 14px 16px;
}

.guests .guests_images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  font-size: 0;
}

.guests .guests_images .img_g {
  width: 100%;
  height: auto;
}

.areas h2 {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 400;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 48px 16px 37px 16px;
}

.areas .areas_icons {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px;
}

.areas .areas_icons div {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 288px;
  height: 162px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
  text-align: center;
}

.areas .areas_icons div img {
  height: 104px;
  width: 104px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 13px;
}

.areas .areas_icons div h3 {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #060A24;
  letter-spacing: 0;
  line-height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.areas .areas_icons .security {
  margin-bottom: 0;
}

/*media query para pantallas de 768px - tablet */
@media screen and (min-width: 768px) {
  .guests .guests_title {
    margin-top: 0;
    margin-left: calc(100vw - 95.1vw);
  }
  .areas h2 {
    margin-left: calc(100vw - 95.1vw);
  }
  .areas .areas_icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(368px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(368px, 2fr));
  }
  .areas .areas_icons .remote, .areas .areas_icons .base {
    margin-left: calc(100vw - 95.1vw);
  }
  .areas .areas_icons .programming, .areas .areas_icons .security {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/*media query para pantallas de 1024px en adelante */
@media screen and (min-width: 1024px) {
  .guests .guests_title {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 62px;
    margin: 64px 0 36px;
    margin-left: calc(100vw - 95%);
  }
  .guests .guests_images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(512px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
  }
  .guests .guests_images .img_g {
    width: 512px;
    height: auto;
  }
  .areas {
    height: auto;
  }
  .areas h2 {
    font-family: 'IBM Plex Sans';
    font-size: 48px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    line-height: 62px;
    margin: 64px 0 56px 200px;
  }
  .areas .areas_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto 34px auto;
    top: 0;
  }
  .areas .areas_icons .remote, .areas .areas_icons .programming, .areas .areas_icons .base, .areas .areas_icons .security {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 220px;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    text-align: center;
  }
  .areas .areas_icons .remote img, .areas .areas_icons .programming img, .areas .areas_icons .base img, .areas .areas_icons .security img {
    height: 104px;
    width: 104px;
    margin: 0 auto;
  }
  .areas .areas_icons .remote h3, .areas .areas_icons .programming h3, .areas .areas_icons .base h3, .areas .areas_icons .security h3 {
    width: auto;
    margin: 29px 0 0 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .areas .areas_icons .security {
    margin-bottom: 0;
  }
}

/*media query para pantallas de 1440px en adelante */
@media screen and (min-width: 1440px) {
  .guests .guests_title {
    font-family: 'IBM Plex Sans';
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 62px;
    margin: 64px 0 36px 200px;
  }
  .guests .guests_images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(480px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  }
  .guests .guests_images .img_g {
    width: 480px;
    height: 364px;
  }
  .areas {
    height: auto;
  }
  .areas h2 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 62px;
    margin: 64px 0 69px 200px;
  }
  .areas .areas_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto 34px auto;
    top: 0;
  }
  .areas .areas_icons .remote, .areas .areas_icons .programming, .areas .areas_icons .base, .areas .areas_icons .security {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 220px;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    text-align: center;
  }
  .areas .areas_icons .remote img, .areas .areas_icons .programming img, .areas .areas_icons .base img, .areas .areas_icons .security img {
    height: 104px;
    width: 104px;
    margin: 0 auto;
  }
  .areas .areas_icons .remote h3, .areas .areas_icons .programming h3, .areas .areas_icons .base h3, .areas .areas_icons .security h3 {
    width: auto;
    margin: 29px 0 0 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .areas .areas_icons .security {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=guests_&_areas.css.map */