@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*------------------------------------*\
    HEADER STYLES
\*------------------------------------*/
header {
  height: 44px;
  background-color: white;
  top: 0;
  left: 0;
  background-image: url("../images/logo.svg");
  background-position: 16px 10px;
  background-repeat: no-repeat;
}

#btn-menu {
  display: block;
  cursor: pointer;
  width: 26px;
  height: 22px;
  position: absolute;
  top: 10px;
  left: 86%;
  opacity: 0;
  z-index: 3;
  -webkit-touch-callout: none;
}

.line {
  display: block;
  width: 18px;
  height: 2px;
  top: 16px;
  left: 88.5%;
  margin-bottom: 3px;
  position: relative;
  background: black;
  -webkit-transform-origin: 4px 4px;
  transform-origin: 4px 4px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.line:first-child {
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
}

.line:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}

#btn-menu:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-1px, 2px);
  transform: rotate(45deg) translate(-1px, 2px);
  background: #000000;
}

#btn-menu:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.8, 0.8);
  transform: rotate(0deg) scale(0.8, 0.8);
}

#btn-menu:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, 2px);
  transform: rotate(-45deg) translate(0, 2px);
}

#btn-menu:checked ~ ul {
  -webkit-transform: none;
  transform: none;
}

.menu {
  position: absolute;
  background: #0000EC;
  width: 100%;
  height: 224px;
  overflow-y: hidden;
  max-height: 0;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  top: 44px;
}

.menu ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  text-transform: uppercase;
}

.menu ul li a {
  text-decoration: none;
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 28px;
  display: block;
  margin: 16px 0 24px 16px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'IBM Plex Mono';
}

#btn-menu:checked ~ .menu {
  margin: 0;
  max-height: 100vh;
}

/*media query para tablets entre 768 y 1023px*/
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 80px;
    top: 0;
    left: 0;
    background-position: 10px 22px;
    background-size: 36px 36px;
  }
  #btn-menu, .line {
    display: none;
  }
  .menu {
    display: block;
    margin-top: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    -webkit-transition: none;
    transition: none;
    top: 0;
    max-height: 100%;
    background-color: transparent;
    overflow-y: visible;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    padding-right: 100px;
  }
  .menu ul li a {
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    margin: 26px 0 26px 48px;
  }
  .menu ul li a:hover {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
  }
  .menu ul li a:active {
    font-size: 16px;
    color: rgba(6, 10, 35, 0.549);
    letter-spacing: 0;
    line-height: 28px;
  }
}

/*media query para desktop  =>1024px */
@media (min-width: 1024px) {
  header {
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background-position: 100px 22px;
    background-size: 36px 36px;
  }
  #btn-menu, .line {
    display: none;
  }
  .menu {
    display: block;
    margin-top: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    -webkit-transition: none;
    transition: none;
    top: 0;
    max-height: 100%;
    background-color: transparent;
    overflow-y: visible;
  }
  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style: none;
    margin-right: 100px;
  }
  .menu ul li a {
    font-family: 'IBM Plex Mono';
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    margin: 26px 0 26px 48px;
  }
  .menu ul li a:hover {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #00F3BB;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: line-through;
  }
  .menu ul li a:active {
    font-size: 16px;
    color: rgba(6, 10, 35, 0.549);
    letter-spacing: 0;
    line-height: 28px;
  }
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 250px;
  padding: 29px 5% 0 5%;
}

.head .title {
  margin: 0;
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 500;
  width: 100%;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.head .title.one {
  height: 42px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.head .title.two {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 8px;
  height: 42px;
  text-decoration: line-through;
}

.head .title.three {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: 42px;
}

.head .title.three::after {
  content: '.';
  margin-left: 2px;
  font-size: 36px;
  color: #060A24;
}

.head .bajada {
  height: 66px;
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 16px;
  margin-bottom: 36px;
  font-weight: 500;
  font-size: 14px;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
}

.head .bajada p {
  margin: 0;
}

.head .more {
  width: 288px;
  height: 48px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00F3BB;
  text-decoration: none;
  color: #060A24;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: uppercase;
}

.head .more:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

.pod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 24px;
  height: 1995px;
}

.pod .episodios {
  top: 0;
  height: 1203px;
  width: 100vw;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
  -webkit-clip-path: polygon(0 2.65%, 100% 0%, 100% 97.25%, 0% 100%);
          clip-path: polygon(0 2.65%, 100% 0%, 100% 97.25%, 0% 100%);
}

.pod .pod_title {
  position: absolute;
  color: #ffffff;
  margin-top: 64px;
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 500;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 42px;
  width: 157px;
  margin-left: 16px;
  margin-bottom: 0;
}

.pod .podcasts {
  margin-top: 127px;
  height: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.pod .podcasts .ifr_1, .pod .podcasts .ifr_2, .pod .podcasts .ifr_3, .pod .podcasts .ifr_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  top: 0;
  margin-left: calc(100% - 96.5%);
  height: 225px;
  width: 100%;
  border: none;
}

.pod .phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-98px);
          transform: translateY(-98px);
}

.pod .phone_img {
  display: block;
  width: auto;
  height: 519px;
  z-index: 2;
}

.pod .art1 {
  height: 346px;
  width: 288px;
  margin: 27px 16px 0 16px;
}

.pod .art1 h2 {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  color: #060A24;
  letter-spacing: 0;
  font-weight: 500;
  line-height: 42px;
  margin-top: 0;
  margin: 0;
}

.pod .art1 p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 14px;
  font-weight: 500;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 8px;
  margin-bottom: 0;
}

/*media query para pantallas de 768px - tablet */
@media screen and (min-width: 768px) {
  .pod {
    margin-top: 0;
  }
  .episodios .pod_title {
    margin-top: 80px;
    margin-left: calc(100vw - 95.1vw);
  }
  .episodios .podcasts {
    margin-top: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .episodios .podcasts .ifr_1, .episodios .podcasts .ifr_2, .episodios .podcasts .ifr_3, .episodios .podcasts .ifr_4 {
    margin: 4.9%;
    width: 40%;
  }
  .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 571px;
    width: 100vw;
  }
  .phone .phone_img {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
    margin-left: calc(100vw - 97vw);
  }
  .phone .art1 {
    height: auto;
    margin-top: 0;
    margin-right: calc(100vw - 97vw);
  }
}

/*media query para pantallas de 1024px en adelante */
@media screen and (min-width: 1024px) {
  .head .title {
    width: 740px;
    font-size: 64px;
    letter-spacing: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head .title.one {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 84px;
  }
  .head .title.two {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-decoration: line-through;
    margin-left: 0;
    height: 84px;
  }
  .head .title.three {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 84px;
  }
  .head .title.three::after {
    content: '.';
    color: #0000EC;
    font-size: 64px;
  }
  .head .bajada {
    width: 628px;
    height: 48px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0;
  }
  .head .bajada p {
    display: none;
  }
  .head .bajada::before {
    content: 'El portal de poscasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.';
  }
  .head .more {
    margin-top: 40px;
  }
  .pod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    max-height: 1515px;
  }
  .pod .episodios {
    top: 0;
    margin: 0;
    height: 1042.6px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
            clip-path: polygon(0 10%, 100% 0%, 100% 90%, 0% 100%);
  }
  .pod .pod_title {
    margin-top: 186px;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0;
    width: 157px;
    margin-left: calc(100% - 95%);
  }
  .pod .podcasts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 274px;
    height: 536px;
  }
  .pod .podcasts .ifr_1, .pod .podcasts .ifr_2, .pod .podcasts .ifr_3, .pod .podcasts .ifr_4 {
    height: 232px;
    width: 384px;
    margin: auto;
  }
  .pod .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 571px;
  }
  .pod .phone .phone_img {
    -webkit-transform: translateY(-89px);
            transform: translateY(-89px);
    margin-left: calc(100% - 86.2%);
    width: auto;
    height: 660px;
    z-index: 2;
  }
  .pod .phone .art1 {
    height: auto;
    width: 364px;
    margin: 109px 0;
    margin-right: calc(100% - 86.2%);
  }
  .pod .phone .art1 h2 {
    font-family: 'IBM Plex Sans';
    font-size: 48px;
    letter-spacing: 0;
    margin-top: 0;
  }
  .pod .phone .art1 p {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
    margin-top: 24px;
  }
}

/*media query para pantallas de 1440px en adelante */
@media screen and (min-width: 1440px) {
  .head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 263px;
    margin: 120px 200px 0 200px;
    padding: 0;
  }
  .head .title {
    width: 740px;
    font-size: 64px;
    letter-spacing: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .head .title.one {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 84px;
  }
  .head .title.two {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    text-decoration: line-through;
    margin-left: 0;
    height: 84px;
  }
  .head .title.three {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 84px;
  }
  .head .title.three::after {
    content: '.';
    color: #0000EC;
    font-size: 64px;
  }
  .head .bajada {
    width: 628px;
    height: 48px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
  }
  .head .bajada p {
    display: none;
  }
  .head .bajada::before {
    content: 'El portal de poscasts que explora el mundo de la programación y la tecnología. Nuevos episodios, todos los jueves cada 15 días.';
  }
  .head .more {
    width: 226px;
    height: 56px;
    margin-top: 56px;
    margin-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00F3BB;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0;
    line-height: 24px;
    margin-bottom: 0;
  }
  .head .more:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
  }
  .pod {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    width: 100%;
    max-height: 1515px;
  }
  .pod .episodios {
    top: 0;
    margin: 0;
    height: 1042.6px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
    background-repeat: no-repeat;
    -webkit-clip-path: polygon(0 15%, 100% 0%, 100% 84%, 0% 100%);
            clip-path: polygon(0 15%, 100% 0%, 100% 84%, 0% 100%);
  }
  .pod .pod_title {
    position: absolute;
    margin-top: 186px;
    font-size: 48px;
    line-height: 62px;
    letter-spacing: 0;
    width: 157px;
    margin-left: 200px;
    margin-bottom: 0;
  }
  .pod .podcasts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-top: 274px;
    height: 536px;
  }
  .pod .podcasts .ifr_1, .pod .podcasts .ifr_2, .pod .podcasts .ifr_3, .pod .podcasts .ifr_4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    top: 0;
    margin: 0;
    height: 232px;
    width: 584px;
  }
  .pod .podcasts .ifr_1, .pod .podcasts .ifr_3 {
    margin-left: 6.9%;
  }
  .pod .podcasts .ifr_2, .pod .podcasts .ifr_4 {
    margin-right: 6.9%;
    margin-left: 0;
  }
  .pod .podcasts .ifr_1, .pod .podcasts .ifr_2 {
    margin-bottom: 4%;
  }
  .pod .phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 587px;
  }
  .pod .phone .phone_img {
    -webkit-transform: translateY(-73px);
            transform: translateY(-73px);
    margin-left: 220px;
    width: auto;
    height: 660px;
    z-index: 2;
  }
  .pod .phone .art1 {
    height: auto;
    width: 464px;
    margin-top: 109px;
    margin-left: 62px;
    margin-right: 256px;
  }
  .pod .phone .art1 h2 {
    margin-top: 0;
    line-height: 62px;
  }
  .pod .phone .art1 p {
    line-height: 24px;
    margin-top: 24px;
  }
}

.guests {
  width: 100vw;
}

.guests .guests_title {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 500;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 54px 16px 14px 16px;
}

.guests .guests_images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(320px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  font-size: 0;
}

.guests .guests_images .img_g {
  width: 100%;
  height: auto;
}

.areas h2 {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 400;
  color: #060A24;
  letter-spacing: 0;
  line-height: 42px;
  margin: 48px 16px 37px 16px;
}

.areas .areas_icons {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 16px;
}

.areas .areas_icons div {
  display: -ms-grid;
  display: grid;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 288px;
  height: 162px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 49px;
  text-align: center;
}

.areas .areas_icons div img {
  height: 104px;
  width: 104px;
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 13px;
}

.areas .areas_icons div h3 {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #060A24;
  letter-spacing: 0;
  line-height: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.areas .areas_icons .security {
  margin-bottom: 0;
}

/*media query para pantallas de 768px - tablet */
@media screen and (min-width: 768px) {
  .guests .guests_title {
    margin-top: 0;
    margin-left: calc(100vw - 95.1vw);
  }
  .areas h2 {
    margin-left: calc(100vw - 95.1vw);
  }
  .areas .areas_icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(368px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(368px, 2fr));
  }
  .areas .areas_icons .remote, .areas .areas_icons .base {
    margin-left: calc(100vw - 95.1vw);
  }
  .areas .areas_icons .programming, .areas .areas_icons .security {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

/*media query para pantallas de 1024px en adelante */
@media screen and (min-width: 1024px) {
  .guests .guests_title {
    font-size: 48px;
    letter-spacing: 0;
    line-height: 62px;
    margin: 64px 0 36px;
    margin-left: calc(100vw - 95%);
  }
  .guests .guests_images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(512px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(512px, 1fr));
  }
  .guests .guests_images .img_g {
    width: 512px;
    height: auto;
  }
  .areas {
    height: auto;
  }
  .areas h2 {
    font-family: 'IBM Plex Sans';
    font-size: 48px;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    line-height: 62px;
    margin: 64px 0 56px 200px;
  }
  .areas .areas_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 900px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto 34px auto;
    top: 0;
  }
  .areas .areas_icons .remote, .areas .areas_icons .programming, .areas .areas_icons .base, .areas .areas_icons .security {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 220px;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
    text-align: center;
  }
  .areas .areas_icons .remote img, .areas .areas_icons .programming img, .areas .areas_icons .base img, .areas .areas_icons .security img {
    height: 104px;
    width: 104px;
    margin: 0 auto;
  }
  .areas .areas_icons .remote h3, .areas .areas_icons .programming h3, .areas .areas_icons .base h3, .areas .areas_icons .security h3 {
    width: auto;
    margin: 29px 0 0 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .areas .areas_icons .security {
    margin-bottom: 0;
  }
}

/*media query para pantallas de 1440px en adelante */
@media screen and (min-width: 1440px) {
  .guests .guests_title {
    font-family: 'IBM Plex Sans';
    font-size: 48px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 62px;
    margin: 64px 0 36px 200px;
  }
  .guests .guests_images {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(480px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  }
  .guests .guests_images .img_g {
    width: 480px;
    height: 364px;
  }
  .areas {
    height: auto;
  }
  .areas h2 {
    font-size: 48px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 62px;
    margin: 64px 0 69px 200px;
  }
  .areas .areas_icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1000px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 0 auto 34px auto;
    top: 0;
  }
  .areas .areas_icons .remote, .areas .areas_icons .programming, .areas .areas_icons .base, .areas .areas_icons .security {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 220px;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
    text-align: center;
  }
  .areas .areas_icons .remote img, .areas .areas_icons .programming img, .areas .areas_icons .base img, .areas .areas_icons .security img {
    height: 104px;
    width: 104px;
    margin: 0 auto;
  }
  .areas .areas_icons .remote h3, .areas .areas_icons .programming h3, .areas .areas_icons .base h3, .areas .areas_icons .security h3 {
    width: auto;
    margin: 29px 0 0 0;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 24px;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 32px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .areas .areas_icons .security {
    margin-bottom: 0;
  }
}

.latest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 341px;
  margin-top: 42px;
  background-image: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
  background-size: 100% 100%;
  -webkit-clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 9%, 100% 0%, 100% 100%, 0% 100%);
}

.latest h2 {
  font-family: 'IBM Plex Sans';
  font-size: 36px;
  font-weight: 400;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  line-height: 42px;
  width: 288px;
  height: 126px;
  top: 64px;
  margin: 64px 16px 36px 16px;
}

.latest .nov {
  text-decoration: none;
  width: 288px;
  height: 48px;
  margin: 0 16px 67px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00F3BB;
  border: none;
  color: #060A24;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  text-transform: uppercase;
}

.latest .nov:hover {
  background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
  color: #FFFFFF;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 121px;
}

footer h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'IBM Plex Mono';
  font-size: 14px;
  font-weight: 500;
  color: #060A24;
  letter-spacing: 0;
  line-height: 22px;
  top: 24px;
  height: auto;
  margin: 24px 46px 0 47px;
}

footer h4 i {
  font-size: 10px;
  margin-right: 7px;
  color: #060A24;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 26px;
  margin-right: 26px;
}

footer .icons .fab {
  font-size: 16px;
  line-height: 28px;
  margin: 16px 19px 31px 19px;
  color: #060A24;
}

/*media query para pantallas de 768px - tablet */
@media screen and (min-width: 768px) {
  .latest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 34px;
  }
  .latest h2 {
    letter-spacing: 0;
    text-align: center;
    line-height: 62px;
    width: 288px;
    margin: 0 auto 0 auto;
    margin-bottom: 0;
    height: auto;
  }
  .latest .nov {
    width: 345px;
    height: 56px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px auto;
  }
  .latest footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 80px;
  }
  .latest footer h4 {
    margin: auto;
  }
  .latest footer .icons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
  }
  .latest footer .icons .fab {
    margin: auto 18px;
  }
}

/*media query para pantallas de 1024px en adelante */
@media screen and (min-width: 1024px) {
  .latest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 518px;
    margin-top: 34px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
    background-size: 100% 100%;
    -webkit-clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
  }
  .latest h2 {
    font-size: 48px;
    letter-spacing: 0;
    text-align: center;
    line-height: 62px;
    width: 692px;
    height: 62px;
    margin: auto;
    margin-top: 213px;
    margin-bottom: 0;
  }
  .latest .nov {
    width: 345px;
    height: 56px;
    margin: 36px auto 151px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00F3BB;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 24px;
  }
  .latest .nov:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 95px;
  }
  footer h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 28px;
    margin: auto auto auto 100px;
  }
  footer h4 i {
    font-size: 10px;
    margin-right: 7px;
  }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 100px;
  }
  footer .icons .fab {
    font-size: 18px;
    line-height: 28px;
    margin: auto auto auto 36px;
    color: #060A24;
  }
}

/*media query para pantallas de 1440px en adelante */
@media screen and (min-width: 1440px) {
  .latest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 518px;
    margin-top: 34px;
    background-image: linear-gradient(225deg, #0000FF 0%, #0000a3 100%);
    background-size: 100% 100%;
    -webkit-clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 27%, 100% 0%, 100% 100%, 0% 100%);
  }
  .latest h2 {
    font-size: 48px;
    letter-spacing: 0;
    text-align: center;
    line-height: 62px;
    width: 692px;
    height: 62px;
    margin: auto;
    margin-top: 213px;
    margin-bottom: 0;
  }
  .latest .nov {
    width: 345px;
    height: 56px;
    margin: 36px auto 151px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #00F3BB;
    border: none;
    letter-spacing: 0;
    line-height: 24px;
  }
  .latest .nov:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 95px;
  }
  footer h4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    line-height: 28px;
    margin: auto auto auto 100px;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 28px;
  }
  footer h4 i {
    font-size: 10px;
    margin-right: 7px;
  }
  footer .icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 100px;
  }
  footer .icons .fab {
    font-size: 18px;
    line-height: 28px;
    margin: auto auto auto 36px;
    color: #060A24;
  }
}

:root {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */