@use './reset'; 
@use './menu'; 
@use './head_&_podcasts'; 
@use './guests_&_areas'; 
@use './latest_&_footer'; 


$but_b: #00F3BB;
$but_b_h: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);

:root{    
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}